.container{
    max-width: 180vmin;
}
form{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 5vmin;

    .searchName{
        width: 100%;
        height: 100%;
        grid-column:1/2;
        grid-row:1;
    }

    .btn{
        grid-column:2/3;
        grid-row:1;
        width: 98%;
        height: 100%;
        margin: auto 1vmin;
        padding: 0;
        font-size: 2vmin;
    }
}
